 # Read Excel (by pandas)

In [28]:
import pandas as pd

file_name = "./Sample.xlsx"  # 放同一個資料夾 （也可以加路徑 "./path/filename.xlsx"）
sheet_name = "sheet1"

table = pd.read_excel(file_name, sheetname = sheet_name) #轉成 DataFrame 格式，存入變數裡

/home/eric/anaconda3/envs/data_sc/lib/python3.6/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [29]:
table.head() #瀏覽前5列

   year  peak_load   PRM
0    71      691.8  26.8
1    72      780.8  29.2
2    73      851.7  22.1
3    74      871.6  55.1
4    75      990.0  48.3

In [30]:
# 叫出所有行的名字
col_name = table.columns
print(col_name)

Index(['year', 'peak_load', 'PRM'], dtype='object')

In [31]:
table['year'] #叫出某一行（寫名字介可以）

0      71
1      72
2      73
3      74
4      75
5      76
6      77
7      78
8      79
9      80
10     81
11     82
12     83
13     84
14     85
15     86
16     87
17     88
18     89
19     90
20     91
21     92
22     93
23     94
24     95
25     96
26     97
27     98
28     99
29    100
30    101
31    102
32    103
33    104
Name: year, dtype: int64

In [32]:
# NaN 值 （如果需要）
values = {'year': 0, 'peak_load': 1,}
table = table.fillna(value=values)

# 替換值 table.replace()

In [33]:
#全部替換：　table.replace(原值，　替換值)
#替換某行：　table['col_name'].replace(原值，　替換值)
table = table.replace(71, 10000)
table.head()

    year  peak_load   PRM
0  10000      691.8  26.8
1     72      780.8  29.2
2     73      851.7  22.1
3     74      871.6  55.1
4     75      990.0  48.3

In [34]:
table['year'] = table['year'].replace(72, '換成文字')
table.head()

    year  peak_load   PRM
0  10000      691.8  26.8
1   換成文字      780.8  29.2
2     73      851.7  22.1
3     74      871.6  55.1
4     75      990.0  48.3

In [35]:
#建立字典一次換多個
replace_dict = {73:'更換1', 74:'更換2'}
table = table.replace(replace_dict)
table.head()

    year  peak_load   PRM
0  10000      691.8  26.8
1   換成文字      780.8  29.2
2    更換1      851.7  22.1
3    更換2      871.6  55.1
4     75      990.0  48.3

# 輸出成Excel
** 先安裝套件 xlwt： pip install xlwt (pip3 install .. in mac & linux)

In [39]:
# 好幾個 sheet 存入同一個檔
writer = pd.ExcelWriter("./test.xls") # 可以含路徑
table.to_excel(writer, "sheet_name1")
table.to_excel(writer, "sheet_name2")
writer.save()

# 可能使用方式
* 把code寫好弄成  xxx.py檔，並把Excel 放在同一個資料查 （或是你有寫路徑）
* Terminal： 　python xxx.py  （windows 執行）
* Terminal： 　python3  xxx.py (其他系統)

# 如果你寫直接連上mysql
* 要先安裝  pip(3) install  PyMySQL 
* Linux另外安裝: sudo apt-get install python3-pymysql

In [2]:
import pymysql

In [ ]:
# 创建连接
conn = pymysql.connect(host='0.0.0.0', port=8888, user='root', passwd='SoilWater66971025', 
                        db='news',charset='utf8')
# 创建游标
cursor = conn.cursor() 
 
# 執行SQL語法    
result = cur.execute("insert into students(name) values('Jack')")
result = cur.execute("insert into students(name,age) values(%s,%s)", params)
# sql對資料庫數據有改變的時候，使用commit提交，否則不生效
conn.commit

print ("Database version : %s " % data)
 
# 关闭数据库连接
db.close()