In [1]:
import numpy as np
import pandas as pd
from itertools import combinations

In [2]:
# read the data file
data = pd.read_csv('grocExample.csv')
data

   apple  beer  milk  pear  rice  meat
0      1     1     0     0     1     1
1      1     1     0     0     1     0
2      1     1     0     0     0     0
3      1     0     0     1     0     0
4      0     1     1     0     1     1
5      0     1     1     0     1     0
6      0     1     1     0     0     0
7      0     0     1     1     0     0

In [3]:
X[(0,1),:]

NameError: name 'X' is not defined

In [4]:
ind = {}
i = 0
for k in data.keys():
    ind[i] = k
    i += 1

In [5]:
for k,v in ind.items():
    print(k,v)

0 apple
1 beer
2 milk
3 pear
4 rice
5 meat

In [6]:
a = (0,1)
name = [ ind[i] for i in a]
name

['apple', 'beer']

In [7]:
X = data.values
min_support = 0.2
items = {}
support = {}

for i in range(X.shape[1]):
    s = X[:, i].sum(axis=0) / X.shape[0]
    if s >= min_support:
        support[i] = X[:, i].sum(axis=0) / X.shape[0]
        
items[1] = support

In [8]:
items[1]

{0: 0.5, 1: 0.75, 2: 0.5, 3: 0.25, 4: 0.5, 5: 0.25}

In [9]:
exclude = []

for item_len in range(2,7):
    items[item_len] = {}
    
    col = np.unique([k for k in items[item_len-1].keys()])
    
    
    for it in combinations(col, item_len):
        
        
        a = False
        for test in exclude:
            if set(test).issubset(set(it)):
                #print(test, it)
                a = True
                break
                
        if a == True:
            continue
            
      
        counts = 0  
        for j in range(X.shape[0]):
            if X[j,it].sum() == len(it):
                counts += 1
        if (counts / X.shape[0]) >= min_support:
            items[item_len][it] = counts / X.shape[0]
        else:
            exclude.append(it)

    if len(items[item_len]) == 0:
        break

In [10]:
exclude

[(0, 2), (0, 3), (0, 5), (1, 3), (2, 3), (2, 5), (3, 4), (3, 5)]

In [11]:
items

{1: {0: 0.5, 1: 0.75, 2: 0.5, 3: 0.25, 4: 0.5, 5: 0.25},
 2: {(0, 1): 0.375,
  (0, 4): 0.25,
  (1, 2): 0.375,
  (1, 4): 0.5,
  (1, 5): 0.25,
  (2, 4): 0.25,
  (4, 5): 0.25},
 3: {(0, 1, 4): 0.25, (1, 2, 4): 0.25, (1, 4, 5): 0.25},
 4: {}}

In [12]:
a = [0,1,2,3]
test = combinations(a , 2)
test_list = list(test)
test_list

[(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)]

In [13]:
np.unique([h for h in test_list])

array([0, 1, 2, 3])

In [14]:
[h for h in test_list]

[(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)]

In [19]:
items

{1: {0: 0.5, 1: 0.75, 2: 0.5, 3: 0.25, 4: 0.5, 5: 0.25},
 2: {(0, 1): 0.375,
  (0, 4): 0.25,
  (1, 2): 0.375,
  (1, 4): 0.5,
  (1, 5): 0.25,
  (2, 4): 0.25,
  (4, 5): 0.25},
 3: {(0, 1, 4): 0.25, (1, 2, 4): 0.25, (1, 4, 5): 0.25},
 4: {}}

In [24]:
column = []
supp = []
for i in range(4):
    for col, sup in items[i+1].items():
        column.append(col)
        supp.append(sup)
        
        
        
        
column[:10]

[0, 1, 2, 3, 4, 5, (0, 1), (0, 4), (1, 2), (1, 4)]

In [21]:
# column: 我的分類(數字)
# ind: 字典，index 對應 項目名稱， EX:  1:'apple'
item_name = [] # 宣告一個list，\

for col in column:
    if type(col) is not int:
        col = list(col)
        kk = []
        for ccc in col:
            kk.append(ind[ccc])
            col = kk
    else:
        kk = ind[col]
    item_name.append(kk)
    
item_name    
# 最後存入DataFrame:   EX:  df['item'] = item_name

['apple',
 'beer',
 'milk',
 'pear',
 'rice',
 'meat',
 ['apple', 'beer'],
 ['apple', 'rice'],
 ['beer', 'milk'],
 ['beer', 'rice'],
 ['beer', 'meat'],
 ['milk', 'rice'],
 ['rice', 'meat'],
 ['apple', 'beer', 'rice'],
 ['beer', 'milk', 'rice'],
 ['beer', 'rice', 'meat']]

In [14]:
min_support = 0.5
X = data.values
ary_col_idx = np.arange(X.shape[1])
support = np.sum(X, axis=0) / float(X.shape[0])
support_dict = {1: support[support >= min_support]} # array 的條件式

itemset_dict = {1: ary_col_idx[support >= min_support].reshape(-1,1)}

max_itemset = 1

while max_itemset:
    next_max_itemset = max_itemset + 1
    combin = combinations(np.unique(itemset_dic[max_itemset].flatten()),
                         r=next_max_itemset)
    
    for c in combin:
        together = X[:, c].sum(axis=1) == len(c)
        support = together.sum() / float(X.shape[0])
        
        if support >= min_support:
            frequent_items.append(c)
            frequent_items_support.append(support)
            
    if frequent_items:  # frequent_items = 0 時 不滿足
        itemset_dict[next_max_itemset] = np.array(frequent_items)
        support_dict[next_max_itemset] = np.array(frequent_items_support)
        max_itemset = next_max_itemset
    else:
        max_itemset = 0

NameError: name 'itemset_dic' is not defined

In [5]:

def compute(df, min_support=0.5):
    X = df.values
    
    ary_col_idx = np.arange(X.shape[1]) # array([0, 1, 2, 3, 4, 5])
    
    support = (np.sum(X, axis=0) / float(X.shape[0])) # array([ 0.5 ,  0.75,  0.5 ,  0.25,  0.5 ,  0.25])
    
    support_dict = {1: support[support >= min_support]} 
    # {1: array([ 0.5 ,  0.75,  0.5 ,  0.5 ])}
    
    itemset_dict = {1: ary_col_idx[support >= min_support].reshape(-1, 1)} 
    '''
    {1: array([[0],
        [1],
        [2],
        [4]])}
    '''
    
    
    max_itemset = 1

    while max_itemset: # max_itemset = 0 時停止
        next_max_itemset = max_itemset + 1
        combin = combinations(np.unique(itemset_dict[max_itemset].flatten()),
                              r=next_max_itemset)
        '''排出 itemset_dict 的 2個items 配對組合'''
        
        
        frequent_items = []
        frequent_items_support = []

        for c in combin:
            '''各種配對組合'''
            together = X[:, c].sum(axis=1) == len(c)
            # 在tuple c裡n個數字， n個組合相加 = n 的是 True
            
            
            support = together.sum() / float(X.shape[0]) 
            
            if support >= min_support:
                frequent_items.append(c)
                frequent_items_support.append(support)

        if frequent_items:  # frequent_items = 0 時 不滿足
            itemset_dict[next_max_itemset] = np.array(frequent_items)
            support_dict[next_max_itemset] = np.array(frequent_items_support)
            max_itemset = next_max_itemset
        else:
            max_itemset = 0

            
            
    all_res = []
    for k in sorted(itemset_dict):
        support = pd.Series(support_dict[k])
        itemsets = pd.Series([i for i in itemset_dict[k]])

        res = pd.concat((support, itemsets), axis=1)
        all_res.append(res)

    res_df = pd.concat(all_res)
    
    res_df.columns = ['support', 'itemsets']
    mapping = {idx: item for idx, item in enumerate(df.columns)}
    res_df['itemsets'] = res_df['itemsets'].apply(lambda x: [mapping[i]
                                                      for i in x])
    res_df = res_df.reset_index(drop=True)

    return res_df

In [19]:
compute(data, min_support=0.2)

    support             itemsets
0     0.500              [apple]
1     0.750               [beer]
2     0.500               [milk]
3     0.250               [pear]
4     0.500               [rice]
5     0.250               [meat]
6     0.375        [apple, beer]
7     0.250        [apple, rice]
8     0.375         [beer, milk]
9     0.500         [beer, rice]
10    0.250         [beer, meat]
11    0.250         [milk, rice]
12    0.250         [rice, meat]
13    0.250  [apple, beer, rice]
14    0.250   [beer, milk, rice]
15    0.250   [beer, rice, meat]

In [101]:
def combinations(iterable, r):
    # iterable = 'ABC', r=2

    pool = tuple(iterable)  # pool = ('A', 'B', 'C')
    n = len(pool) # n = 3
    
    if r > n:
        return
    
    indices = list(range(r)) # indices = [0, 1]
    yield tuple(pool[i] for i in indices) # return first tuple ('A', 'B') in a generators
    
    while True:
        for i in reversed(range(r)): #reversed: Return a reverse iterator.
            # reserved(range(r)) is iterator 1,0 
            if indices[i] != i + n - r: 
                break  # break for loop, i stop when the conditioning is Satisfied 
        else:
            return
        indices[i] += 1 # first[0, 2], second [1,2] 
        
        for j in range(i+1, r):
            indices[j] = indices[j-1] + 1 
        yield tuple(pool[i] for i in indices)
        
# Generators are iterators, a kind of iterable you can only iterate over once
# yield is a keyword that is used like return, except the function will return a generator

In [102]:
SS = combinations('ABC', 2)

In [103]:
list(SS)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [19]:
pool = tuple('ABC')
n = len(pool)

indices = list(range(2))
reversed(3)

TypeError: 'int' object is not reversible

In [ ]:
ddic