In [1]:
import pandas as pd
import numpy as np
import math

from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from matplotlib.colors import ListedColormap

C:\Users\Eric\Anaconda3\envs\DataSC\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
dataset = pd.read_csv('Map_of_Police_Department_Incidents.csv')
print(len(dataset))
dataset.head()

1048575

          Category                    Date           X          Y
0     NON-CRIMINAL  01/19/2015 12:00:00 AM -122.421582  37.761701
1          ROBBERY  02/01/2015 12:00:00 AM -122.414406  37.784191
2          ASSAULT  02/01/2015 12:00:00 AM -122.414406  37.784191
3  SECONDARY CODES  02/01/2015 12:00:00 AM -122.414406  37.784191
4        VANDALISM  01/27/2015 12:00:00 AM -122.431119  37.800469

In [12]:
time = dataset['Date'].values

for i in range(len(dataset)):
    time[i] = time[i][:10]

time = pd.to_datetime(time, format='%m/%d/%Y')
dataset['Timeline'] = time
del dataset['Date']

dataset = dataset[dataset['Timeline'] >= '2014-01-01']
dataset = dataset.reset_index(drop=True)
len(dataset)

243049

In [13]:
ca_list=[]
for i in range(len(dataset)):
    if dataset['Category'][i] == 'NON-CRIMINAL':
        ca_list.append(0)
    else:
        ca_list.append(1)
        
dataset['Crime'] = ca_list

In [14]:
dataset.head()

          Category           X          Y   Timeline  Crime
0     NON-CRIMINAL -122.421582  37.761701 2015-01-19      0
1          ROBBERY -122.414406  37.784191 2015-02-01      1
2          ASSAULT -122.414406  37.784191 2015-02-01      1
3  SECONDARY CODES -122.414406  37.784191 2015-02-01      1
4        VANDALISM -122.431119  37.800469 2015-01-27      1

In [24]:
X1, X2 = np.meshgrid(np.arange(start=-514, stop=-363, step=1),
                     np.arange(start= 706, stop= 821, step=1)
                    )
X1.shape

(115, 151)

In [35]:
X_list = []
Y_list = []
for i in range(len(dataset)):
    X_list.append(math.modf(dataset['X'][i])[0] * 1000)
    Y_list.append(math.modf(dataset['Y'][i])[0] * 1000)

dataset['x1'] = X_list
dataset['x2'] = Y_list

In [41]:
map_dic = {}

no = 1
for i in range(-514, -363):
    for j in range(706, 821):
        map_dic[i,j] = no
        no += 1

In [ ]:
count_dic ={}
for i in range(len(dataset)):
    xx = math.modf(dataset['x1'][i])[1]
    yy = math.modf(dataset['x2'][i])[1]
    
    mm = (xx, yy)
    
    count_dic[map_dic[mm]] +=1

In [7]:
#dataset = dataset.set_index(dataset['Timeline'],drop=True)
#dataset = dataset.groupby(dataset.index.date).sum()